.mainAccountHome {
  background-color: #454555;
  width: 100vw;
  height: 100vh;  
}

.mainAccountGrid {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.mainAccountCard {
  background-color: #353545;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 5px 5px 10px #222222;
  margin: auto;
  
  & p,
  & li {
    font-size: 18px;
    margin-top: 5px;
  }

  & p:first-child {
    margin-top: 0;
  }

  & p span {
    color: #1976d2;
    font-size: 20px;
  }
}

.world {
  display: inline;
  display: flex;
  align-items: center;
}

.tag {
  font-size: 10px !important;
  padding: 5px 10px;
  width: fit-content;
  border-radius: 10px;
  color: #FFFFFF !important;
}

.Low {
  background-color: #00ff2e;
}

.Medium {
  background-color: #f6ff00;
}

.High {
  background-color: #ffaa00;
}

.VeryHigh {
  background-color: #ff6600;
}

.Full {
  background-color: #ff2a00;
}